# Dim direnv status messages
export DIRENV_LOG_FORMAT=$'\033[2mdirenv: %s\033[0m'
export NIX_CONFIG="experimental-features = nix-command flakes"

# Also rebuild if other local flake inputs change
watch_file nix/*

# Use flake
use flake
